@import "tailwindcss";

@layer base {
  html {
    scroll-behavior: smooth;
  }
  
  button, a, input, select, textarea {
    @apply transition-all duration-300 ease-in-out;
  }
}

/* Optional: Custom Scrollbar for Webkit */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: transparent; 
}

::-webkit-scrollbar-thumb {
  background: #4B5563; 
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #6B7280; 
}
